#menu li {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

#menu li:hover {
    background-color: rgb(188, 58, 240);
}

#menu {
    background-color: rgb(162, 33, 213);
    width: 95%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
}